/* src/style.css dosyasının içeriği */
body {
    margin: 0;
    overflow: hidden; /* Kaydırmayı engeller */
}

/* Three.js'in oluşturduğu Canvas'ın tüm ekranı kaplamasını sağlar */
canvas {
    display: block;
}